body {
     background-color: rgb(47, 88, 47);
}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-weight: 100;
}


.caja {
    width: 600px;
    height: 30px;
    font-size: 20px;
    /*margin: 20px;*/
    margin-bottom: 10px;
    margin: 20px;
    /*padding: 20px; */
    padding: 20px;
    /* border-radius: 50%*/
    align-items: center;
}

.blanca {
    background-color:white; 
    border: 5px solid black;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
}

.cafe {
    background-color:rgb(212, 77, 77); 
    border: 10px solid brown;
    font-size: 10px;  
}

.amarillo{
    
}
